<h1>Login</h1>
 <form action="/login" method="post">
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" required>
    </div>
    <button type="submit">Login</button>
 </form>
 <a href="/register">Register</a>
